:root {
    --D-main-color: #654797;
    --D-Complementary-color: #FBB911;
    --D-light-color: #EEEBF3;
    --D-overlay: #664797a9;

    --N-main-color: #362664;
    --N-Complementary-color: #D19A0F;
    --N-light-color: #211E26;
    --N-overlay: #352664b9;
    --N-shadow: #1b103b;
}

@font-face {
    font-family: Arsenal SC;
    font-weight: normal;
    src: url("../Fonts/ArsenalSC-Regular.ttf") format(truetype);
}

@font-face {
    font-family: Arsenal SC;
    font-weight: bold;
    src: url("../Fonts/ArsenalSC-Bold.ttf") format(truetype);
}


@keyframes candle-on {

    0%,
    50% {
        background-image: url("../img/candle-on1.png");
    }

    50.01%,
    100% {
        background-image: url("../img/candle-on2.png");
    }
}




* {
    box-sizing: border-box;
}


body {
    direction: ltr;
    color: var(--D-main-color);
    font-family: 'Arsenal SC', sans-serif;
}





.circle-candle {
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: 30px;
    left: 30px;
    /* filter: drop-shadow(0 0 3px #3526646a); */
    cursor: pointer;
    z-index: 10000;
    transition: all 0.5s;
    cursor: pointer;
}

.circle-candle:hover {
    filter: drop-shadow(0 0 8px #3526646a);
}



/* header */

#main-header {
    /* border: 1px solid black; */
    width: 100%;
    height: 80px;
    background-color: var(--D-main-color);
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: 0 0 10px #352664a0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
}

.container {
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    min-height: 60px;
    position: relative;
}

#main-header>.container {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.left-side {
    /* border: 1px solid black; */
    width: 60%;
    display: flex;
}

.logo {
    /* border: 1px solid black; */
    height: 100%;
    cursor: pointer;
}

#main-menu {
    /* border: 1px solid black; */
    width: 60%;
    list-style: none;
    list-style-type: none;
    gap: 40px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#main-menu:nth-child(1) {
    gap: 0;
}

#main-menu>li>a,
#main-menu>li>a:visited,
#main-menu>li>a:link {
    color: var(--D-light-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.bar {
    /* border: 1px solid black; */
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar>i {
    color: var(--D-light-color);
    font-size: 30px;
    cursor: pointer;
}

#main-menu a::after {
    content: "";
    display: block;
    width: 0%;
    height: 1.7px;
    background-color: white;
    transition: all 0.2s;
    margin-top: 5px;
    border-radius: 999px;
}

#main-menu a:hover::after {
    content: "";
    width: 110%;
}




/* section 1 */

#section-1 {
    /* border: 1px solid palevioletred; */
    height: 650px;
}

#section-1>.container {
    display: flex;
}

#sec1-left {
    /* border: 1px solid black; */
    width: 60%;
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sec1-right {
    /* border: 1px solid black; */
    width: 40%;
    height: 650px;
    background-image: url("../img/candle-on1.png");
    background-size: contain;
    animation: candle-on 1s infinite;

}

#main-text {
    /* border: 1px solid black; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#main-text>h1 {
    color: #422B73;
    font-weight: bold;
    font-size: 150px;
    margin: 0;
    padding: 0;
}

#main-text>h3 {
    width: 50%;
    font-weight: normal;
    color: var(--D-main-color);
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.btn-yellow {
    width: 200px;
    height: 50px;
    background-color: var(--D-Complementary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-yellow:hover {
    box-shadow: 0 0 15px var(--D-Complementary-color);
}





/* section 2 */

#section-2 {
    /* border: 1px solid palevioletred; */
    height: 650px;
    display: grid;
    grid-template-areas:
        'one two'
        'three four';
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin-top: 50px;
}

#item1,
#item2,
#item3,
#item4 {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

#item1 {
    grid-area: one;
    background-color: var(--D-main-color);
    color: var(--D-light-color);
}

#item1 h2 {
    font-size: 50px;
    padding: 0;
    margin: 0;
}

#item1 p {
    font-weight: normal;
    width: 65%;
    margin: 0;
    padding: 0;
}

#section-2 .container {
    width: 80%;
    height: 80%;
    position: relative;
}

#item2,
#item2>img {
    grid-area: two;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: var(--D-light-color);
}

#item2>img,
#item3>img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: var(--D-overlay);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s;
}

#item2:hover .overlay {
    opacity: 1;
}

#item2:hover .overlay-text {
    bottom: 40px;
}

.overlay-text {
    width: 60%;
    position: absolute;
    bottom: -200px;
    transition: all 0.5s;
}

.overlay-text>h3 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.btn-white {
    width: 150px;
    height: 40px;
    background-color: var(--D-light-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--D-main-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-white:hover {
    box-shadow: 0 0 15px var(--D-light-color);
}

#item4 {
    grid-area: four;
    background-color: var(--D-light-color);
    color: var(--D-main-color);
    display: flex;
    position: relative;
}

#item4>.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#item3,
#item3>img {
    grid-area: three;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    color: var(--D-light-color);
}

#item3:hover .overlay {
    opacity: 1;
}

#item3:hover .overlay-text {
    bottom: 40px;
}




/* section 3 */

#section-3 {
    /* border: 1px solid palevioletred; */
    min-height: 650px;
    margin-top: 50px;
}

#section-3>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    /* border: 1px solid black; */
    width: 70%;
}

.title>h2 {
    font-size: 45px;
    text-align: center;
}

.line-with-circles {
    position: relative;
    border-bottom: 2px solid var(--D-light-color);
    width: 100%;
    max-width: 550px;
    margin: 20px auto;
}

.line-with-circles::before,
.line-with-circles::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-color: var(--D-light-color);
    border-radius: 50%;
}

.line-with-circles::before {
    left: 0;
}

.line-with-circles::after {
    right: 0;
}

#products-wrapper {
    /* border: 1px solid black; */
    width: 90%;
    height: 700px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: space-around;
    margin-bottom: 20px;
}

.product-items {
    /* border: 1px solid blueviolet; */
    width: 300px;
    height: 300px;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
}

/* .product-items:hover {
    filter: drop-shadow(0 0 5px #fbb91189);
} */

.product-items>img {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.candle-info {
    position: absolute;
    bottom: -150px;
    width: 100%;
    height: 100px;
    background-color: var(--D-main-color);
    padding: 20px;
    transition: all 0.5s;
}

.candle-info>h3 {
    color: var(--D-light-color);
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.candle-info>h4 {
    color: var(--D-light-color);
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: normal;
}

.product-items:hover .candle-info {
    bottom: 0;
    filter: drop-shadow(0 0 5px#664797);
}




.btn-purple {
    width: 200px;
    height: 40px;
    background-color: var(--D-main-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--D-light-color);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
}

.btn-purple:hover {
    box-shadow: 0 0 15px var(--D-main-color);
}




/* section 4 */

#section-4 {
    /* border: 1px solid palevioletred; */
    min-height: 600px;
    margin-top: 50px;
    background-color: var(--D-main-color);
    display: flex;
}

#section-4>.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#sec4-left {
    width: 500px;
    height: 500px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-image: url("../img/candle-pic1.jfif");
    background-size: cover;
}

#sec4-right {
    width: 750px;
    height: 500px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--D-light-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-4 .title>h2 {
    text-align: left;
    margin-top: 0;
}

.text-box {
    /* border: 1px solid black; */
    width: 85%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-box p {
    width: 60%;
    font-size: 22px;
    margin-top: -20px;
}

#section-4 .btn-yellow {
    margin: 0;
}





/* section 5 */

#section-5 {
    /* border: 1px solid palevioletred; */
    min-height: 550px;
    margin-top: 50px;
}

#section-5>.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#service-wrapper {
    /* border: 1px solid blue; */
    width: 90%;
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.service-item {
    /* border: 1px solid black; */
    width: 350px;
    height: 250px;
    border-radius: 20px;
    background-color: var(--D-light-color);
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.serv-circle {
    width: 350px;
    height: 250px;
    background-color: var(--D-main-color);
    border-radius: 50%;
    position: absolute;
    top: -110px;
}

.service-item>i {
    color: var(--D-light-color);
    font-size: 100px;
    cursor: pointer;
    left: 40%;
    z-index: 100;
    cursor: auto;
}

.service-item>.title {
    z-index: 100;
    text-align: center;
    font-size: 30px;
    width: 90%;
}


/* footer */

#main-footer {
    min-height: 350px;
    background-color: var(--D-main-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-footer>.container{
    display: flex;
}

.footer-logo {
    /* border: 1px solid white; */
    height: 250px;
    width: 250px;
    /* position: relative; */
}

.footer-logo>img {
    width: 100%;
    height: 100%;
}

.footer-text{
    /* border: 1px solid white; */
    height: 250px;
    width: 700px;
}

.footer-text h2.title{
    color:var(--D-light-color);
    font-size: 35px;
}

.footer-text h4.title{
    color: var(--D-light-color);
    font-size: 25px;
}

#service>li{
    margin-bottom: 10px;
    font-size: 20px;
}