doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lumièra

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")

        link(rel="stylesheet", href="css/css/all.min.css")
        link(rel="stylesheet", href="css/css/brands.css")
        link(rel="stylesheet", href="css/css/brands.min.css")
        link(rel="stylesheet", href="css/css/fontawesome.min.css")
        link(rel="stylesheet", href="css/css/fontawesome.css")
        link(rel="stylesheet", href="css/css/regular.css")
        link(rel="stylesheet", href="css/css/regular.min.css")
        link(rel="stylesheet", href="css/css/solid.min.css")
        link(rel="stylesheet", href="css/css/solid.css")

    body 

        .candle 
            img.circle-candle(src="img/circle-candle-on.png", alt="")

        header#main-header 
            .container
                .left-side
                    a(href="#")
                        img.logo(src="img/logo2.png", alt="")
                    ul#main-menu
                        li 
                            a(href="#") Home
                        li
                            a(href="#") Contact us
                        li
                            a(href="#") Latest products
                .bar   
                    i.fa-solid.fa-bars

        section#section-1
            .container
                #sec1-left
                #sec1-right
                