doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Lumièra

        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/styles.css")

        link(rel="stylesheet", href="css/css/all.min.css")
        link(rel="stylesheet", href="css/css/brands.css")
        link(rel="stylesheet", href="css/css/brands.min.css")
        link(rel="stylesheet", href="css/css/fontawesome.min.css")
        link(rel="stylesheet", href="css/css/fontawesome.css")
        link(rel="stylesheet", href="css/css/regular.css")
        link(rel="stylesheet", href="css/css/regular.min.css")
        link(rel="stylesheet", href="css/css/solid.min.css")
        link(rel="stylesheet", href="css/css/solid.css")

    body 

        .candle#candle
            img.circle-candle#circle-candle(src="img/circle-candle-on.png", alt="")

        header#main-header 
            .container
                .left-side
                    a(href="#")
                        img.logo(src="img/logo2.png", alt="")
                    ul#main-menu
                        li 
                            a(href="#") Home
                        li
                            a(href="#") Contact us
                        li
                            a(href="#section-3") Latest products
                .bar   
                    i.fa-solid.fa-bars

        section#section-1
            .container
                #sec1-left
                    #main-text
                        h1 Lumièra
                        h3 Soft light for slow moments.
                        a.btn-yellow Shop Now
                #sec1-right

        section#section-2
            #item1
                .container
                    h2 Lumièra
                    p  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    |Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            #item2
                img(src="img/candle-pic2.jfif", alt="")
                .overlay
                    .container
                        .overlay-text
                            h3 Lemon Tea Candle
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a.btn-white Shop Now
            #item3
                img(src="img/candle-pic1.jfif", alt="")
                .overlay
                    .container
                        .overlay-text
                            h3 Berries Candle
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            a.btn-white Shop Now
            #item4
                .container
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

        section#section-3
            .container 
                .title 
                    h2 Latest Products
                    .line-with-circles
                #products-wrapper
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                    a.product-items
                        img(src="img/product.jfif", alt="")
                        .candle-info
                            h3 Lemon candle
                            h4 $24.99
                a.btn-purple Show Me More

        section#section-4   




















        script(src="js/index-js.js")             